@import '../../style.scss';

.social__leftBar {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 60px);
    background-color: themed(bg);
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    @include mobile {
      display: none;
    }
 
    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 20px;

      hr {
        margin: 20px 0;
        border: none;
        height: 0.5px;
      }
      .menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        *:first-child {
          color: themed('textColor');
          font-size: 1.5rem;
        }
        span {
          font-size: 12px;
          color: themed('textColorSoft');
        }
      }
    }
  }
}
