.social__leftBar {
  flex: 2;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
    &::-webkit-scrollbar{
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;

    hr {
      margin: 20px 0;
      border: none;
      height: 0.5px;
      background-color: lightgrey;
    }
    .menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      *:first-child {
        color: black;
        font-size: 1.5rem;
      }
      span {
        font-size: 12px;
        color: gray;
      }
    }
  }
}
